@use "./settings";

header {
  height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  color: settings.$whithe1;
  img {
    width: 24px;
  }
  nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 50px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .nav-left {
      cursor: pointer;
      font-family: settings.$font3;
      width: 82%;
      margin: 0 auto;
      li {
        text-transform: uppercase;
        margin-left: 55px;
        font-size: 0.8rem;
      }
    }
    .nav-right {
      width: 8%;
      margin: 0 auto;
      margin-left: 50px;
      li {
        margin-left: 20px;
        transition: 0.8s;
        font-size: 0.8rem;
        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }
  h4 {
    font-family: settings.$font1;
    font-size: 2.3rem;
  }
  .header-title {
    padding: 50px 0 0;

    h4 {
      font-size: 3rem;
      color: settings.$yellow;
      font-weight: 100;
    }
    h1 {
      margin-top: -28px;
      margin-bottom: 25px;
      font-size: 3.2rem;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-family: settings.$font2;
    }
    img {
      width: 30px;
      margin-top: 7px;
      margin-bottom: 10px;
    }
    p {
      margin-top: 18px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 6px;
      font-family: settings.$font3;
    }
  }
}
