@use "./variable";

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: variable.$white;

  .intro-text {
    margin: 15px;
    padding: 30px 15px;
    border: 1px dashed variable.$color1;

    h2 {
      font-family: variable.$font1;
      color: variable.$color1;
      font-size: 2rem;
      font-weight: 500;
    }
    h3 {
      margin-top: -12px;
      font-family: variable.$font2;
    }
    img {
      margin: 26px;
    }
    img:nth-of-type(2) {
      height: 70px;
      border-radius: 999px;
      margin-bottom: 8px;
    }
    h4 {
      font-family: variable.$font2;
      font-weight: 100;
    }
    h5 {
      color: variable.$grey;
      font-size: 0.7rem;
    }
  }
  .intro-pic {
    background: url(/assets/img/store-01.jpg) center/cover;
  }
}
.section2 {
  color: variable.$white;
  padding-bottom: 100px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 620px;
    width: 100%;
    left: 50%;
    background: url(/assets/img/bg-menu-01.jpg) center/cover;
    bottom: -330px;
    transform: translate(-50%, -50%);
  }
  h2 {
    color: variable.$color1;
    font-family: variable.$font1;
    font-size: 2rem;
    font-weight: 500;
    padding: 60px 0 30px;
  }
  ul {
    @include variable.alignChildren(space-around);
    width: 50%;
    margin: 30px auto;
    min-width: 500px;

    li {
      border-bottom: 1px solid variable.$white;
      font-family: variable.$font3;
      padding-bottom: 10px;
    }
  }
  .meals {
    background: variable.$white;
    color: variable.$black;
    width: 85%;
    margin: 0 auto;
    max-width: 800px;
    border-top: 4px solid variable.$color1;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 1000;
    position: relative;
    padding: 15px;

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
    }

    .meal {
      display: grid;
      grid-template-columns: 25% 65% 10%;
      border-bottom: 1px dashed variable.$grey;
      padding: 30px 0;
      margin: 0 20px;

      img {
        border-radius: 50px;
        object-fit: cover;
        width: 100%;
        align-self: center;
      }
      .meal-text {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
        height: 100%;

        h3 {
          text-transform: uppercase;
          color: variable.$black;
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
      > p {
        align-self: center;
        color: variable.$color1;
      }
    }
  }
}
.section3 {
  padding: 100px 15px 65px;
  color: variable.$white;

  .form-content {
    display: grid;
    grid-template-columns: 30% 70%;
    background: variable.$white;
    max-width: 1050px;
    margin: 0 auto;

    .hours {
      padding: 24px;
      background: black;

      .hours-content {
        border: 1px dashed variable.$grey;
        padding: 20px 0;

        h3 {
          font-family: variable.$font1;
          font-size: 2.5rem;
          font-weight: 100;
          color: variable.$color1;
        }

        h4 {
          font-family: variable.$font2;
          margin-top: -16px;
          letter-spacing: 2px;
          font-size: 1.3rem;
        }

        img {
          margin-top: 25px;
        }

        h5 {
          text-transform: uppercase;
          color: variable.$color1;
          font-family: variable.$font2;
          font-weight: 100;
          font-size: 1.1rem;
          margin: 38px 0 12px;
        }

        p {
          font-size: 0.85rem;
        }
      }
    }
    .form-infos {
      @include variable.childCenter;
      padding: 30px 0;

      h2 {
        font-family: variable.$font1;
        color: variable.$color1;
        font-weight: 100;
        font-size: 2.5rem;
      }
      h3 {
        color: variable.$black;
        margin-top: -18px;
        font-size: 1.8rem;
        font-family: variable.$font2;
      }
      img {
        width: 25px;
        margin: 25px;
      }
      .form-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 30px;

        > * {
          padding: 10px 0;
          margin: 10px;
          background: none;
          outline: none;
          border: none;
          border-bottom: 1px solid variable.$grey;
        }
      }
      button {
        border: none;
        border-radius: 50px;
        background: variable.$black;
        color: variable.$white;
        padding: 16px 38px;
        cursor: pointer;
        font-weight: 700;
        transition: 0.2s;
        letter-spacing: 4px;
        opacity: 0;
        transform: translatey(200px);
        animation: button 1s forwards;

        @keyframes button {
          100% {
            opacity: 1;
            transform: translatey(0);
          }
        }
      }
    }
  }
}
.section4 {
}
